body {
    padding: 0em 1em;
    overflow: hidden;
}

.todo-app {
    border: 3px solid darken($color_todo_app, 20%);
    border-radius: .8em;
    background: $color_todo_app;
    height: 99vh;

    > header {
        background: darken($color_todo_app, 20%);
        color: white;
        padding: .3em;
        height: 10%;
        max-height: 2em;

        h2 {
            margin: .0em .3em;
            font-size: 140%;
        }
    }

    > footer {
        background: darken($color_todo_app, 20%);
        color: black;
        padding: .3em;
        height: 20%;
        max-height: 2.5em;

        position: absolute;
        bottom: 10px;

        button {
            margin: .1em .3em;
            font-size: 100%;
        }
    }

    section.main {
        height: 90vh;
        overflow: auto;
    }

    article {

        display: none;

        &.complete {

            label {
                color: lighten(black, 40%);
                font-style: italic;
                font-weight: normal;
                text-decoration: line-through;
            }
        }

        header {

            padding: 1em;
            overflow: auto;

            &:hover {
                background: darken($color_todo_app, 20%);
            }

            input[type=checkbox] {
                float: left;
            }

            h3, label {
                margin: .0em .5em;
                font-size: 120%;
                font-weight: bold;
                float: left;

            }

            .action-todo-remove {
                background-color: $color_todo_app;
                border: 0;
                border-radius: 1em;

                color: red;
                float: right;
                font-size: 102%;
                font-weight: bold;
                padding: 0;
                height: 2em;
                width: 2em;
            }
        }
    }
}
